{% extends 'base.html.twig' %}

{% block title %}{{ 'title.fetch_your_hotel'|trans() }}{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h1 class="display-3">{{ 'title.fetch_your_hotel'|trans() }}</h1>
            {{ form_start(form, {'attr' :  {'id' :  'form-fetch'}}) }}

            <div class="form-group">
                <label for="fetch_hotel_latitude">{{ 'label.latitude'|trans() }}</label>
                {{ form_widget(form.latitude, {'attr' :  {'type' :  'text', 'class' :  'form-control', 'placeholder': 'placeholder.latitude'|trans(), 'data-discount-field' : 'true'}}) }}
                {{ form_errors(form.latitude) }}
            </div>
            <div class="form-group">
                <label for="fetch_hotel_longitude">{{ 'label.longitude'|trans() }}</label>
                {{ form_widget(form.longitude, {'attr' :  {'type' :  'text', 'class' :  'form-control', 'placeholder': 'placeholder.longitude'|trans(), 'data-discount-field' : 'true'}}) }}
                {{ form_errors(form.longitude) }}
            </div>
            <div class="form-group">
                <label for="fetch_hotel_kilometers">{{ 'label.kilometers'|trans() }}</label>
                {{ form_widget(form.kilometers, {'attr' :  {'type' :  'integer', 'class' :  'form-control', 'placeholder': 'placeholder.kilometers'|trans(), 'data-discount-field' : 'true'}}) }}
                {{ form_errors(form.kilometers) }}
            </div>
            <div class="form-group">
                <label for="fetch_hotel_sortBy">{{ 'label.sort_by'|trans() }}</label>
                {{ form_widget(form.sortBy, {'attr' :  {'type' :  'text', 'class' :  'form-control', 'placeholder': 'placeholder.sort_by'|trans(), 'data-discount-field' : 'true'}}) }}
                {{ form_errors(form.sortBy) }}
            </div>

            <button type="submit" class="btn btn-primary">{{ 'button.fetch'|trans() }}</button>
            {{ form_end(form) }}
        </div>
        <div class="col-md-8">
            <table id="hotel-list" class="table table-striped table-hover">
                <thead class="thead-dark">
                    <tr scope="row">
                        <th field="name" scope="col">{{ 'table.hotel'|trans() }}</th>
                        <th field="distance" scope="col">{{ 'table.distance'|trans() }}</th>
                        <th field="price" scope="col">{{ 'table.price'|trans() }}</th>
                    </tr>
                </thead>
                <tbody>
                {% for hotel in hotels %}
                    <tr scope="row">
                        <td>{{ hotel.name }}</td>
                        <td>{{ hotel.distance }}Km</td>
                        <td>{{ hotel.price }}€</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="/js/fetch.js"
            crossorigin="anonymous"></script>
    <script type="text/javascript"
            src="http://www.jeasyui.com/easyui/jquery.easyui.min.js"></script>
{% endblock %}
